@model TarjetaDeCreditoMVC.Entidades.ViewModels.CarteraDeConsumo.CarteraDeConsumoEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar cartera de consumo</h2>

<h3>¿Esta seguro de querer eliminar este registro de "Carteras de consumos"?</h3>
<div>
    @*<h4>CarteraDeConsumoEditViewModel</h4>*@
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.CarteraDeConsumoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarteraDeConsumoId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimiteDeCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimiteDeCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoDeRenovacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoDeRenovacion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CarteraDeConsumoId)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index", "", new { @class = "btn btn-warning" })
        </div>
    }
</div>
