@model TarjetaDeCreditoMVC.Entidades.ViewModels.Tarjeta.TarjetaFilterListViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <a href="@Url.Action("Create","Tarjetas")" class="btn btn-primary" style="float:right">Nuevo</a>
    <h2>Lista de tarjetas</h2>
</div>
<hr />
@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Guardado correctamente</strong> @msg
    </div>
}
<hr />
<div class="row">
    <div class="col-md-2">
        <h4>Filtro:</h4>
        <div class="list-group">
            <div class="list-group">
                @Html.ActionLink("Todos", "Index", null, new { @class = Request["carteraDeConsumo"] == null ? "list-group-item active" : "list-group-item" })
                @foreach (var tipo in Model.CarterasDeConsumos)
                {
            @Html.ActionLink(tipo.Descripcion, "Index", new { tipoProducto = tipo.Descripcion }, new { @class = Request["carteraDeConsumo"] == tipo.Descripcion ? "list-group-item active" : "list-group-item" })}
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].TarjetaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].NumeroDeTarjeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].CarteraDeConsumo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].ValidaDesde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].ValidaHasta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarjetas[0].Vigente)
                </th>

            </tr>

            @foreach (var item in Model.Tarjetas)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.TarjetaId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroDeTarjeta)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CarteraDeConsumo)
                        </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Cliente)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidaDesde)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ValidaHasta)
                        </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Vigente)
                        </td>


                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.TarjetaId }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.TarjetaId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }


        </table>
    </div>
</div>